.tariff-settings__parametr {
    width: 260px;
    height: 105px;
    padding: 12px 12px 18px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.tariff-settings__parametr-container {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}