@import '../fonts/fonts.css';

:root {
    --periwinkle-crayola: #F5F6F9;
    --periwinkle-crayola-2: #E4E7F1;
    --white: #FFFFFF;
    --signal-blue: #2C1D5D;
    --persian-blue: #5813FE;
    --light-purple-blue: #8E87A3;


    --page-background: var(--periwinkle-crayola);

    --primary: var(--persian-blue);
}

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}